<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultDB" connectionString="Data Source=1-PC\LJC;Initial Catalog=PrestigeV2TestDB;User ID=sa;Password=123456;Pooling=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultDB" connectionString="Data Source=LJCSERVER;Initial Catalog=PrestigeV2TestDB;User ID=ljc1;Password=123456;Pooling=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="Host_Redis" value="172.16.86.13:6379" />
  </appSettings>
</configuration>