<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="couchbase1" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <couchbase1>
    <servers retryCount="3" bucket="" bucketPassword="" username="" password="">
      <add uri="http://192.168.56.101:8091/pools"></add>
      <add uri="http://192.168.56.102:8091/pools"></add>
      <add uri="http://192.168.56.103:8091/pools"></add>
      <add uri="http://192.168.56.104:8091/pools"></add>
    </servers>
    <socketPool maxPoolSize="10" minPoolSize="5" connectionTimeout="00:00:05" receiveTimeout="00:00:05" deadTimeout="00:00:05" queueTimeout="00:00:05" />
  </couchbase1>
</configuration>