<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key ="Debug" value ="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="DefaultDB" connectionString="Server=devdb.dev.sh.ctriptravel.com,28747;UID=uws_AllInOneKey_dev;password=!QAZ@WSX1qaz2wsx; database=PkgOrderDB;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultDB" connectionString="Server=Win2003DBServer01;UID=sa;password=123456; database=CjzfDB;" providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStockService" maxReceivedMessageSize="10240000" />
        <binding name="BasicHttpBinding_IMCCService" />
        <binding name="BasicHttpBinding_IMCCService1" />
      </basicHttpBinding>
    </bindings>
    <client>

      <!--<endpoint address="http://ljcserver2/StockService/StockService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService"
        contract="StockWCFService.IStockService" name="BasicHttpBinding_IStockService" />-->
      <endpoint address="http://ljcserver2/MCCService/MCCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMCCService"
        contract="MCCService.IMCCService" name="BasicHttpBinding_IMCCService" />

      <endpoint address="http://localhost/StockService/StockService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockService"
        contract="StockWCFService.IStockService" name="BasicHttpBinding_IStockService" />
      <!--<endpoint address="http://localhost/MCCService/MCCService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMCCService"
        contract="MCCService.IMCCService" name="BasicHttpBinding_IMCCService" />-->
    </client>
  </system.serviceModel>
</configuration>
