<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ThreadPoolConfig" type="LJC.FrameWork.ConfigurationSectionHandler.ThreadPoolConfig, LJC.FrameWork"/>
  </configSections>
  <ThreadPoolConfig MaxWorkerThreads="1000" MinWorkerThreads="100" MaxCompletionPortThreads="1000" MinCompletionPortThreads="100"/>
  <appSettings>
    <add key="Host_Redis" value="127.0.0.1:6379" />
    <add key="Debug" value ="True"/>
    <add key="TraceSocketDataBag" value="T" />
    <add key ="mongo" value="mongodb://ljc:123456@ljcserver:37777/test"/>
  </appSettings>
</configuration>