<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ThreadPoolConfig" type="LJC.FrameWork.ConfigurationSectionHandler.ThreadPoolConfig, LJC.FrameWork"/>
  </configSections>
  <connectionStrings>
    <add name="ConndbDB$CjzfDB" connectionString="Data Source=ljcserver;Initial Catalog=CjzfDB;User ID=ljc1;Password=123456;Pooling=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="ConndbDB$GubaData" connectionString="Data Source=1-PC\ljc;Initial Catalog=GubaData;Integrated Security=True;Pooling=True;Min Pool Size=10;Max Pool Size=20;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <ThreadPoolConfig MaxWorkerThreads="1000" MinWorkerThreads="100" MaxCompletionPortThreads="1000" MinCompletionPortThreads="100"/>
  <appSettings>
    <add key="Host_Redis" value="127.0.0.1:6379"/>
    <add key="Debug" value="False"/>
    <add key="TraceSocketDataBag" value="F"/>
    <add key="mongo" value="mongodb://ljc:123456@ljcserver:37777/test"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
