<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ThreadPoolConfig" type="LJC.FrameWork.ConfigurationSectionHandler.ThreadPoolConfig, LJC.FrameWork"/>
  </configSections>
  <ThreadPoolConfig MaxWorkerThreads="1000" MinWorkerThreads="100" MaxCompletionPortThreads="1000" MinCompletionPortThreads="100"/>
</configuration>