<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="couchbase1" type="Couchbase.Configuration.CouchbaseClientSection, Couchbase"/>
  </configSections>
  <couchbase1> 
    <servers retryCount="3" bucket="aa" bucketPassword="" username="" password="">
      <add uri="http://127.0.0.1:8091/pools"></add>
    </servers>
    <socketPool maxPoolSize="10" minPoolSize="5" connectionTimeout="00:00:05" receiveTimeout="00:00:05" deadTimeout="00:00:05" queueTimeout="00:00:05" />
  </couchbase1>
  <appSettings>
    <add key="Host_Redis" value="172.16.58.132:3000" />
  </appSettings>
</configuration>